<br><%= @game.current_turn.name %> attacked <%= @game.opponent_of(@current_turn).name %></br>

<br><%= @game.opponent_of(@current_turn).name %>: <%= @game.opponent_of(@current_turn).hit_points %>HP</br>

<br><%= @game.current_turn.name %>'s turn</br>

<!-- <br><a href="/switch_turns" class= "button">Next Turn</a></br> -->
<form action="/switch-turns" method="post">
  <input type="submit" value="Next Turn">
</form>
