<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br> <%= @game.current_turn.name %>: <%= @game.current_turn.hit_points %>HP </br>
<br><%= @game.opponent_of(@current_turn).name %>: <%= @game.opponent_of(@current_turn).hit_points %>HP </br>


<%= @game.current_turn.name %>'s turn

<br><a href="/attack" class= "button">Attack</a></br>

current = player 2
